<provider_credentials><openstack_credentials><username>user</username><tenant>test</tenant><password>pass</password><strategy>keystone</strategy><auth_url>http://keystone.host.fqdn:5000/v2.0</auth_url></openstack_credentials></provider_credentials>
