<header>
  <h1>imagefactory</h1>
  <p>
  imagefactory builds images for a variety of operating system/cloud combinations. 
  </p>

  <p class="view"><a href="https://github.com/aeolusproject/imagefactory">View the Project on GitHub <small>aeolusproject/imagefactory</small></a></p>


  <ul>
    <li><a href="/documentation/install.html#rpm">Install <strong>RPM</strong></a></li>
    <!-- <li><a href="https://github.com/aeolusproject/imagefactory/zipball/master">Download <strong>ZIP File</strong></a></li> -->
    <li><a href="https://github.com/aeolusproject/imagefactory/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/aeolusproject/imagefactory">View On <strong>GitHub</strong></a></li>
  </ul>
</header>

