<head itemscope itemtype="http://schema.org/Organization" lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <!-- For search engines -->
  <meta name="keywords" content="cloud, virt, virtual machine, image, infrastructure, open source, oss, vm, automation, linux, Red Hat, aeolus, imagefactory, imgfac">
  <meta name="description" content="{{ site.summary }}">

  <!-- For Google -->
  <meta itemprop="name" content="{{ site.tagline }} - {{ site.sitename }}">
  <meta itemprop="description" content="{{ site.summary }}">

  <!-- For Facebook -->
  <meta property="og:title" content="{{ site.tagline }} - {{ site.sitename }}">
  <meta property="og:type" content="software">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:site_name" content="{{ site.sitename }}">
  <!-- <meta property="og:image" content="{{ site.logo }}"> -->

  <!-- Doing this twice to deal with the difference between hitting the site -->
  <!-- as a project page vs hitting it via the TLD -->
  <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{ side.baseurl }}/stylesheets/pygment_trac.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

{% case page.title %}
{% when 'tagline' %}
<title>{{ site.sitename }}: {{ site.tagline }}</title>

{% else %}
  <title>{{ site.sitename }}: {{ page.title }}</title>

{% endcase %}

</head>

