<nav id="navigation">
    {% unless page.layout == 'front' %}
        <ul class="navigation">
            {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url or page.layout == link.layout %}
                    {% assign current = 'current' %}
                {% endif %}
                <li class="{% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
                    <a class="{{ current }}" href="{{ link.url }}">{{ link.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endunless %}
</nav>

