[Unit]
Requires=libvirtd.service
After=libvirtd.service

[Service]
Type=forking
ExecStart=/usr/bin/imagefactoryd 
ExecStop=killall imagefactoryd
PIDFile=/var/run/imagefactoryd.pid
LOCKFile=/var/lock/subsys/imagefactoryd
